In [29]:
#Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

#Import raw data and merge the data
Nextbike_bochum_raw = pd.read_csv("./dataset/bochum.csv")
Nextbike_leipzig_raw = pd.read_csv("./dataset/leipzig.csv")
Nextbike_raw = Nextbike_bochum_raw.append(Nextbike_leipzig_raw)

#looking for the info of dataframe
Nextbike_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202697 entries, 0 to 185326
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   day            202697 non-null  object
 1   time           202697 non-null  object
 2   b_number       202697 non-null  int64
 3   city           202697 non-null  object
 4   trip_duration  202697 non-null  object
 5   orig_lat       202697 non-null  float64
 6   orig_lng       202697 non-null  float64
 7   dest_lat       202697 non-null  float64
 8   dest_lng       202697 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 15.5+ MB

In [31]:
Nextbike_raw

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng
0,2019-02-08,12:06:00,683,bochum,0 days 00:10:00.000000000,51.489814,7.232856,51.479592,7.222239
1,2019-02-10,01:58:00,683,bochum,0 days 00:14:00.000000000,51.479592,7.222239,51.472366,7.250500
2,2019-02-11,06:33:00,683,bochum,0 days 00:28:00.000000000,51.472366,7.250500,51.479592,7.222239
3,2019-02-11,13:31:00,683,bochum,0 days 00:58:00.000000000,51.479592,7.222239,51.483023,7.215314
4,2019-02-11,14:32:00,683,bochum,0 days 00:22:00.000000000,51.483023,7.215314,51.479592,7.222239
...,...,...,...,...,...,...,...,...,...
185322,2019-05-25,10:58:00,99979,leipzig,0 days 00:07:00.000000000,51.468822,11.290048,51.468547,11.289899
185323,2019-05-27,09:32:00,99979,leipzig,0 days 01:16:00.000000000,51.468756,11.289723,51.469324,11.289366
185324,2019-05-27,11:02:00,99979,leipzig,0 days 00:03:00.000000000,51.469044,11.289348,51.469093,11.289432
185325,2019-02-11,11:47:00,99982,leipzig,0 days 01:44:00.000000000,51.341165,12.365045,51.341065,12.365005
185326,2019-03-22,11:35:00,999999,leipzig,0 days 00:45:00.000000000,51.324615,12.336922,51.324649,12.338129

In [30]:
#looking for the null value
Nextbike_raw.isnull().sum().sort_values(ascending=False)

dest_lng         0
dest_lat         0
orig_lng         0
orig_lat         0
trip_duration    0
city             0
b_number         0
time             0
day              0
dtype: int64

In [36]:
#looking for amount of entries each day
idx = pd.date_range(df['date'].min(), df['date'].max())
s = df.groupby(['date']).size()
s

date
2019-02-01     699
2019-02-02     553
2019-02-03     312
2019-02-04     546
2019-02-05     652
              ...
2019-06-26    2807
2019-06-27    2797
2019-06-28    3112
2019-06-29    2904
2019-06-30    1794
Length: 147, dtype: int64

In [60]:
missing =  s.isnull()
missing

date
2019-02-01    False
2019-02-02    False
2019-02-03    False
2019-02-04    False
2019-02-05    False
              ...
2019-06-26    False
2019-06-27    False
2019-06-28    False
2019-06-29    False
2019-06-30    False
Length: 147, dtype: bool

missing = missing

In [22]:
Nextbike_clean = Nextbike_raw

#output
Nextbike_clean

,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,timestamp,timestamp_rounded,Weekday,Time,date,date_str,revenue
0,683,bochum,0 days 00:10:00,51.489814,7.232856,51.479592,7.222239,2019-02-08 12:06:00,2019-02-08 12:00:00,4,12:00:00,2019-02-08,2019-02-08,1.0
1,683,bochum,0 days 00:14:00,51.479592,7.222239,51.472366,7.250500,2019-02-10 01:58:00,2019-02-10 01:00:00,6,01:00:00,2019-02-10,2019-02-10,1.0
2,683,bochum,0 days 00:28:00,51.472366,7.250500,51.479592,7.222239,2019-02-11 06:33:00,2019-02-11 06:00:00,0,06:00:00,2019-02-11,2019-02-11,1.0
3,683,bochum,0 days 00:58:00,51.479592,7.222239,51.483023,7.215314,2019-02-11 13:31:00,2019-02-11 13:00:00,0,13:00:00,2019-02-11,2019-02-11,2.0
4,683,bochum,0 days 00:22:00,51.483023,7.215314,51.479592,7.222239,2019-02-11 14:32:00,2019-02-11 14:00:00,0,14:00:00,2019-02-11,2019-02-11,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185322,99979,leipzig,0 days 00:07:00,51.468822,11.290048,51.468547,11.289899,2019-05-25 10:58:00,2019-05-25 10:00:00,5,10:00:00,2019-05-25,2019-05-25,1.0
185323,99979,leipzig,0 days 01:16:00,51.468756,11.289723,51.469324,11.289366,2019-05-27 09:32:00,2019-05-27 09:00:00,0,09:00:00,2019-05-27,2019-05-27,3.0
185324,99979,leipzig,0 days 00:03:00,51.469044,11.289348,51.469093,11.289432,2019-05-27 11:02:00,2019-05-27 11:00:00,0,11:00:00,2019-05-27,2019-05-27,1.0
185325,99982,leipzig,0 days 01:44:00,51.341165,12.365045,51.341065,12.365005,2019-02-11 11:47:00,2019-02-11 11:00:00,0,11:00:00,2019-02-11,2019-02-11,4.0
185326,999999,leipzig,0 days 00:45:00,51.324615,12.336922,51.324649,12.338129,2019-03-22 11:35:00,2019-03-22 11:00:00,4,11:00:00,2019-03-22,2019-03-22,2.0

In [23]:
#Converting Trip Length to timedelta
Nextbike_clean['trip_duration'] = pd.to_timedelta(Nextbike_clean['trip_duration'])

#Converting start-time to datetime
Nextbike_clean['timestamp'] = pd.to_datetime(Nextbike_clean['day'] + ' ' +  Nextbike_clean['time'])
Nextbike_clean.drop(columns=['day','time'], inplace = True)

Nextbike_clean

KeyError: 'day'

In [24]:

#Round datetime and extract possible categorisation attributes
Nextbike_clean['timestamp_rounded'] = Nextbike_clean['timestamp'].dt.floor('H')

Nextbike_clean['Weekday'] = Nextbike_clean['timestamp_rounded'].dt.weekday

Nextbike_clean['Time'] = Nextbike_clean['timestamp_rounded'].dt.time
Nextbike_clean["Time"] = Nextbike_clean["Time"].astype(str).str[:2].astype(int)

Nextbike_clean["date"] = Nextbike_clean.timestamp.dt.date
Nextbike_clean["date_str"] = Nextbike_clean.timestamp.dt.date.astype(str)

#take trip duration in minutes, calculate 1â‚¬ per 30 minutes of usage
Nextbike_clean["revenue"] = np.ceil((Nextbike_clean.trip_duration.dt.total_seconds()/60) /30)


#output
Nextbike_clean

,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,timestamp,timestamp_rounded,Weekday,Time,date,date_str,revenue
0,683,bochum,0 days 00:10:00,51.489814,7.232856,51.479592,7.222239,2019-02-08 12:06:00,2019-02-08 12:00:00,4,12,2019-02-08,2019-02-08,1.0
1,683,bochum,0 days 00:14:00,51.479592,7.222239,51.472366,7.250500,2019-02-10 01:58:00,2019-02-10 01:00:00,6,1,2019-02-10,2019-02-10,1.0
2,683,bochum,0 days 00:28:00,51.472366,7.250500,51.479592,7.222239,2019-02-11 06:33:00,2019-02-11 06:00:00,0,6,2019-02-11,2019-02-11,1.0
3,683,bochum,0 days 00:58:00,51.479592,7.222239,51.483023,7.215314,2019-02-11 13:31:00,2019-02-11 13:00:00,0,13,2019-02-11,2019-02-11,2.0
4,683,bochum,0 days 00:22:00,51.483023,7.215314,51.479592,7.222239,2019-02-11 14:32:00,2019-02-11 14:00:00,0,14,2019-02-11,2019-02-11,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185322,99979,leipzig,0 days 00:07:00,51.468822,11.290048,51.468547,11.289899,2019-05-25 10:58:00,2019-05-25 10:00:00,5,10,2019-05-25,2019-05-25,1.0
185323,99979,leipzig,0 days 01:16:00,51.468756,11.289723,51.469324,11.289366,2019-05-27 09:32:00,2019-05-27 09:00:00,0,9,2019-05-27,2019-05-27,3.0
185324,99979,leipzig,0 days 00:03:00,51.469044,11.289348,51.469093,11.289432,2019-05-27 11:02:00,2019-05-27 11:00:00,0,11,2019-05-27,2019-05-27,1.0
185325,99982,leipzig,0 days 01:44:00,51.341165,12.365045,51.341065,12.365005,2019-02-11 11:47:00,2019-02-11 11:00:00,0,11,2019-02-11,2019-02-11,4.0
185326,999999,leipzig,0 days 00:45:00,51.324615,12.336922,51.324649,12.338129,2019-03-22 11:35:00,2019-03-22 11:00:00,4,11,2019-03-22,2019-03-22,2.0

In [25]:
#Round datetime and extract possible categorisation attributes
Nextbike_clean['timestamp_rounded'] = Nextbike_clean['timestamp'].dt.floor('H')
Nextbike_clean['Weekday'] = Nextbike_clean['timestamp_rounded'].dt.weekday
Nextbike_clean['Time'] = Nextbike_clean['timestamp_rounded'].dt.time
#output
Nextbike_clean

,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,timestamp,timestamp_rounded,Weekday,Time,date,date_str,revenue
0,683,bochum,0 days 00:10:00,51.489814,7.232856,51.479592,7.222239,2019-02-08 12:06:00,2019-02-08 12:00:00,4,12:00:00,2019-02-08,2019-02-08,1.0
1,683,bochum,0 days 00:14:00,51.479592,7.222239,51.472366,7.250500,2019-02-10 01:58:00,2019-02-10 01:00:00,6,01:00:00,2019-02-10,2019-02-10,1.0
2,683,bochum,0 days 00:28:00,51.472366,7.250500,51.479592,7.222239,2019-02-11 06:33:00,2019-02-11 06:00:00,0,06:00:00,2019-02-11,2019-02-11,1.0
3,683,bochum,0 days 00:58:00,51.479592,7.222239,51.483023,7.215314,2019-02-11 13:31:00,2019-02-11 13:00:00,0,13:00:00,2019-02-11,2019-02-11,2.0
4,683,bochum,0 days 00:22:00,51.483023,7.215314,51.479592,7.222239,2019-02-11 14:32:00,2019-02-11 14:00:00,0,14:00:00,2019-02-11,2019-02-11,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185322,99979,leipzig,0 days 00:07:00,51.468822,11.290048,51.468547,11.289899,2019-05-25 10:58:00,2019-05-25 10:00:00,5,10:00:00,2019-05-25,2019-05-25,1.0
185323,99979,leipzig,0 days 01:16:00,51.468756,11.289723,51.469324,11.289366,2019-05-27 09:32:00,2019-05-27 09:00:00,0,09:00:00,2019-05-27,2019-05-27,3.0
185324,99979,leipzig,0 days 00:03:00,51.469044,11.289348,51.469093,11.289432,2019-05-27 11:02:00,2019-05-27 11:00:00,0,11:00:00,2019-05-27,2019-05-27,1.0
185325,99982,leipzig,0 days 01:44:00,51.341165,12.365045,51.341065,12.365005,2019-02-11 11:47:00,2019-02-11 11:00:00,0,11:00:00,2019-02-11,2019-02-11,4.0
185326,999999,leipzig,0 days 00:45:00,51.324615,12.336922,51.324649,12.338129,2019-03-22 11:35:00,2019-03-22 11:00:00,4,11:00:00,2019-03-22,2019-03-22,2.0

In [27]:
df = pd.DataFrame(Nextbike_clean)
df.isnull()

,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,timestamp,timestamp_rounded,Weekday,Time,date,date_str,revenue
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185322,False,False,False,False,False,False,False,False,False,False,False,False,False,False
185323,False,False,False,False,False,False,False,False,False,False,False,False,False,False
185324,False,False,False,False,False,False,False,False,False,False,False,False,False,False
185325,False,False,False,False,False,False,False,False,False,False,False,False,False,False
185326,False,False,False,False,False,False,False,False,False,False,False,False,False,False



# Task 2

In [ ]:
missing_dates = pd.date_range(start = '2019-05-01', end = '2019-31-05' ).difference(df.index)

In [ ]:
plt.title('Start time - Daily')
plt.ylabel('Amount of Rentals')
plt.xlabel("Day Interval")

In [ ]:
ax.set_xticks(range(len(Weekday)))
ax.set_xticklabels(Time, rotation='vertical')